<section class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <%= image_tag('bruised-back.png', class:'img-box img-thumbnail',alt:'bruised back') %>
    </div>
    <div class='col-md-8 info-box-primary'>
      <h2 class='center'>
        Bruises
      </h2>
      <p>
        A bruise is caused by trauma or an impact to the skin. This leads to blood from damaged blood cells underneath the skin to collect near the surface of the skin. A fresh bruise is usually reddish, and then it turns blue or dark purple within a few hours, then yellow or green after a few days as it heals.
      </p>
      
      <p>
        Usually, if you touch a fresh bruise within the first few days, it will be painfull, but the pain usually goes away as the color fades. Because the skin isn't broken in a bruise, there's no risk of getting an infection from the environment.
      </p>
      
      <h2 class='center'> 
        Other causes?
      </h2>
      
      <p>
        Bruises can occur in some people who do intense exercises. For example, weight lifters and athletes. These bruises result from microscopic tears in blood vessels under the skin from intense strain on the human body.
      </p>
      
      <p>
        Although a bruise can be caused by intense situation, they can also be caused by less intense impacts to the skin. For example, if you bump into a bedpost, or wall, or other object. Sometimes you might not even remember because it didn't hurt.
      </p>
      
      <p>
        Sometimes, there may be no obvious reason to why you got a bruise. This may be a sign that you might have a bleeding disorder, especially if you also get nosebleeds or bleeding gums.
      </p>
      
      <p>
        Bruises in elderly people frequently occur because their skin has become thinner with age. The tissues that support the underlying blood vessels have become more fragile.
      </p>
      
      <p>
        Bruises are also more common in those taking medicine to thin the blood.
      </p>
    </div>
  </div>
  
  <div class='row'>
    <div class='col-md-8 info-box-primary'>
      <h2 class='center'>
        How to treat a Bruise
      </h2>
      <p>
        info about how Natural Emollient/Coconut oil can treat a bruise
      </p>
      
      <p class='center'>
        Nucifera is a Natural Emollient made from Coconut oils and beeswax. The Coconut oil is rich in natural fatty acids which are small molecules that can penetrate into the skin and provide essential nutrients that the skin need to stay moist. The beeswax softens your skin and creates a long-lasting protective coating on your skin. 
      </p>
      <div class='center'>
        <%= link_to('Buy Now', products_path, class:'btn btn-lg btn-primary center', role:'button') %>
      </div>
    </div>
    <div class='col-md-4'>
      <%= image_tag('nucifera500x500.jpg',class:'img-box img-thumbnail', alt:'Dry Skin')%>
    </div>
  </div>
  
</section>





