<section class='section'>
  
    <div class='row'>
    <div class='col-md-4'>
      <%= image_tag('cradle-cap-2.jpg', class:'img-box img-thumbnail',alt:'bruised back') %>
    </div>
    <div class='col-md-8 info-box-primary'>
      <h2 class='center'>
        Cradle Cap
      </h2>
      <p>
         Cradle cap is the greasy, yellow scaly patches that sometimes appear on the scalps of young babies. Sometimes the hair falls off while the skin peels off naturally with cradle cap. But don't worry, it grows back. It's usually seen on the scalp (top of the babies head) but it can also affect the face, ears, neck, nappy area and armpits, and behind the knees.
      </p>
      
      <p>
        Cradle cap is not contagious and it's usually harmless. It doesn't usually cause discomfort to young babies, but do not peel off the scales or pick at it because this can cause a skin infection.
      </p>
      
      <p>
        It appears in some babies in the first two months and clears up if you take care of it with treatment within a few weeks to a few months.
      </p>
      
     
    </div>
  </div>
  
  <div class='row'>
    <div class='col-md-8 info-box-primary'>
      <h2 class='center'>
        How to treat Cradle Cap
      </h2>
      <p>
        info about how Natural Emollient/Coconut oil can treat a Cradle Cap
      </p>
      
      <p class='center'>
        Nucifera is a Natural Emollient made from Coconut oils and beeswax. The Coconut oil is rich in natural fatty acids which are small molecules that can penetrate into the skin and provide essential nutrients that the skin need to stay moist. The beeswax softens your skin and creates a long-lasting protective coating on your skin. 
      </p>
      <div class='center'>
        <%= link_to('Buy Now', products_path, class:'btn btn-lg btn-primary center', role:'button') %>
      </div>
    </div>
    <div class='col-md-4'>
      <%= image_tag('nucifera500x500.jpg',class:'img-box img-thumbnail', alt:'Dry Skin')%>
    </div>
  </div>
  
 



</section>