<section class='section'>
  <div class='row'>
    <div class='col-md-4'>
      <%= image_tag('Dry-SKIN-1.jpg',class:'img-box img-thumbnail', alt:'Dry Skin')%>
    </div>
    <div class='col-md-8 info-box-primary'>
      <h2 class='center'>
        Dry Skin
      </h2>
      <p>
        Dry skin is a very common skin condition, it's usually caused by a lack of water in the most outer layer of the skin. Elderly people are much more likely to have dry skin because the quality of your skin detoriorates as you age and has less amounts of natural skin oils and lubricants. The weather can also have an effect on the dryness of your skin because cold or dry air and winter weather can actually dry out your skin. Also washing your hands too much can also lead to dry skin.
      </p>
      
      <p>
        If you leave dry skin untreated for a long amount of time, the skin might become irritated and result in a red rash.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 info-box-primary'>
      <h2 class='center'>
        How to prevent Dry Skin
      </h2>
      <p>
        To prevent skin from drying out, you can humidify the indoor environment to keep moisture in the air, so that your skin doesn't dry out as fast.<br>
        Having less Baths and avoiding strong soaps and strong detergents can also help improve your dry skin. Strong soaps and detergents can strip away the natural oils from your skin causing it to dry out more quickly. <br>
        Avoid wearing clothing made from wool and wear cotton or natural fiber clothing. <br> 
        Use moisturizers or natural emollients like Nucifera to add moisture to your skin.
      </p>
      <h2 class='center'>
        How to treat Dry Skin
      </h2>
      <p>
        Nucifera is a Natural Emollient made from Coconut oils and beeswax. The Coconut oil is rich in natural fatty acids which are small molecules that can penetrate into the skin and provide essential nutrients that the skin need to stay moist. The beeswax softens your skin and creates a long-lasting protective coating on your skin. 
      </p>
      
      <%= link_to('Buy Now', products_path, class:'btn btn-lg btn-primary', role:'button') %>
    </div>
    <div class='col-md-4'>
      <%= image_tag('nucifera500x500.jpg',class:'img-box img-thumbnail', alt:'Dry Skin')%>
    </div>
  </div>
</section>