<style>
  .exp-tag {
    width:60px;
    display:inline-block;
  }
  
  .head-img {
    padding:10px;
    display:inline-block;
  }
</style>
<div class='container'>
  <div class="row ">
    
          <div class="col-xs-12 col-md-6 margin-center" id='payment-form'>
            
          <!-- CREDIT CARD FORM STARTS HERE -->
            
            <%= form_tag card_dummy_path(1), id:'payment-form' do %>
              <div class="panel panel-default credit-card-box">
                  <div class="panel-heading display-table" >
                      <h2 class='center'>
                        Add a card
                      </h2>
                      <div class="row display-tr" >
                          <div class="display-td" > 
                            <%= image_tag('cards_icons.png', class:'img-responsive pull-right') %>
                          </div>
                      </div>                    
                  </div>
                  <div class="panel-body">
                      <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                          <div class="row">
                              <div class="col-xs-12 col-sm-6">
                                  <div class="form-group">
                                      <label for="First Name">First Name</label>
                                      <div class="input-group">
                                          <input 
                                              class="form-control"
                                              name="First Name"
                                              placeholder="First Name"

                                              required autofocus 
                                          />
                                          <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                      </div>
                                  </div>                            
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                  <div class="form-group">
                                      <label for="Last Name">Last Name</label>
                                      <div class="input-group">
                                          <input 
                                              class="form-control"
                                              name="First Name"
                                              placeholder="Last Name"

                                              required autofocus 
                                          />
                                          <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                      </div>
                                  </div>                            
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-12">
                                  <div class="form-group">
                                      <label for="cardNumber">CARD NUMBER</label>
                                      <div class="input-group">
                                          <input 
                                              type="tel"
                                              class="form-control"
                                              data-stripe="number"
                                              placeholder="Valid Card Number"
                                              autocomplete="cc-number"
                                              required autofocus 
                                          />
                                          <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                      </div>
                                  </div>                            
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-12 col-md-7">
                                  <div class="form-group">
                                      <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                    <div>
                                      <input 
                                          type="tel" 
                                          data-stripe="exp_month"
                                          class='exp-tag form-control'
                                          placeholder="MM"
                                          autocomplete="cc-exp"
                                          required 
                                      /> /
                                    <input 
                                          type="tel" 
                                          data-stripe="exp_year"
                                          class='exp-tag form-control'
                                          placeholder="YY"
                                          autocomplete="cc-exp"
                                          required 
                                      />
                                    </div>
                                  </div>
                              </div>
                              <div class="col-xs-12 col-md-5 pull-right">
                                  <div class="form-group">
                                      <label for="cardCVC">CV CODE</label>
                                      <input 
                                          type="tel" 
                                          class="form-control"
                                          name="cardCVC"
                                          placeholder="CVC"
                                          autocomplete="cc-csc"
                                          required
                                      />
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-12">
                                  <div class="form-group">
                                      <label for="couponCode">COUPON CODE</label>
                                      <input type="text" class="form-control" name="couponCode" />
                                  </div>
                              </div>                        
                          </div>
                        <%= hidden_field_tag 'address_id', params[:address_id] %>
                          <div class="row">
                              <div class="col-xs-12">
                                <%= submit_tag 'Add Card', class: 'btn btn-success btn-lg btn-block'  %>
                              </div>
                          </div>
                          <div class="row" style="display:none;">
                              <div class="col-xs-12">
                                  <p class="payment-errors"></p>
                              </div>
                          </div>
                      <% end %>
                  </div>
              </div>            
              <!-- CREDIT CARD FORM ENDS HERE -->
        </div>
    </div> 
</div>