<style>
  
</style>
<div class="container bg-white">
  <div class='center'>
    <%= image_tag('logo.png', alt:'Nucifera Logo', class:'img-box form-logo')%>
  </div>
  <h2 class='center'>
    Delivery Address
  </h2>
    <%= render 'form', address: @address %>
</div>