<div class='container legal'>
  <h1>
    Disclaimer
  </h1>
  <p>
    Nucifera does not take ownership of any electronic communication from its users, which include but are not limited to; comments, reviews, questions, content, and descriptions, views expressed through electronic communication from its users are of the user and not of Nucifera.
  </p>
  <p>
     Nucifera.co.uk does not give any warranty or other assurance as to the operation, quality or functionality of the site. Access to the site may be interrupted, restricted or delayed for any reason. Nucifera.co.uk also does not give any warranty or other assurance as to the jobs and content of the material appearing on the site, its accuracy, completeness, timelessness or fitness for any particular purpose.
  </p>
  <p>
     To the full extent permissible by law, Nucifera.co.uk disclaims all responsibility for any damages or losses (including, without limitation, financial loss, damages for loss in business projects, loss of profits or other consequential losses) arising in contract, tort or otherwise from the use of or inability to use the Site or any material appearing on Nucifera.co.uk, or from any action or decision taken as a result of using Nucifera.co.uk or any such material.
  </p>
  
  <p>
    Nucifera.co.uk contains links to external sites. Nucifera.co.uk is not responsible for and has no control over the content of such sites. Information on Nucifera.co.uk, or available via hypertext link from Nucifera.co.uk, is made available without responsibility on the part of Nucifera.co.uk. Nucifera.co.uk disclaims all responsibility and liability (including for negligence) in relation to information on or accessible from Nucifera.co.uk.
  </p>

 
  
  <h2 class='center'>
    Advertising Material
  </h2>
  <p>
     Advertisers are responsible for ensuring that material submitted for inclusion on Nucifera.co.uk complies with all relevant laws and regulations. Nucifera.co.uk will not take responsibility for any error, omission or inaccuracy in advertising material.
  </p>
 

</div>