<div class='container legal'>
  <h1> Promotion Details </h1>
  <p class='bold'>
    To receive free shipping:
  </p>

  <ol>
    <li>
      Buy the required threshold amount of products from the seller offering the discount. When you are finished shopping, click the "Proceed to Checkout" button.
    </li>
    <li>
      Ship these items to a single address.
    </li>
    <li>
      Select Standard Shipping.
    </li>

    <li>
      If a claim code is required, after selecting a payment method, enter the claim code in the area "Have any gift certificates or promotional claim codes?", and click the "Apply" button.
    </li>
    <li>
      Enjoy free shipping on items shipped to your specified address.
    </li>
  </ol>

  <p class='bold'>
    Terms and Conditions:
  </p>
  <ul>
    <li> 
      The promotion is valid for a limited time only. Nucifera reserves the right to cancel it at any time.
    </li>

    <li>
      If you do not purchase the items added to your Shopping Basket when the free shipping offer is in effect, you will not receive free shipping.
    </li>

    <li>
      The promotion applies only to qualifying items purchased from the seller indicated in the offer message. It does not apply to the same products sold by other sellers.
    </li>
    <li>
      Shipping fees, giftwrap charges, and taxes are not included in calculating purchase amount if the promotion has a threshold.
    </li>
    <li>
      The Free Shipping promotion applies only to orders shipped via Standard Shipping to a single address.
    </li>
    <li>
      If you return items shipped using this promotion, and your order drops below the threshold amount, you may be charged the Standard Shipping fee.
    </li>
    <li>
      Does not apply to orders placed with 1-Click.
    </li>
    <li>
      Void where prohibited.
    </li>
  </ul>
</div>