<div class='container bg-white'>
  <h2 class='center'> About Us</h2>
  <p class='bold'>
    nucifera® has been making wonderfully practical products from organic virgin coconut oil with an emphasis on quality since 2017.
  </p>

  <p>
    Our coconut oil products delight our customers and provide the organic skincare they want at an affordable price. Our goal is to consistently provide a top quality moisturizing alternative for the health-conscious consumer. nuciferas winning formula, combined with modern branding and innovative packaging, will stand out on your store’s shelves.
  </p>
  <p>
    nucifera® is a privately owned independent company headquartered in London, United kingdom. All of our products are manufactured in the united kingdom. We pride ourselves in producing the highest quality product, to ensure product quality and consistency.
  </p>
  <p>
   If you are interested in setting up a wholesale account with us, please visit our <%= link_to 'contact us',contact_path %> page or send an e-mail to <%= link_to 'info@nucifera.co.uk', 'mailto:infonucifera.co.uk' %>. At nucifera®, we have a UK based customer service team look forward to working with you and your staff to meet your business needs.
  </p>
  
  <p>
   We are both qualified pharmacists registered to practice in the UK, dedicated to providing new natural solutions for people to lead healthy lifestyles and to promote awareness of the benefits of nucifera.
  </p>
  
  <p>
    We have a combined background of clinical practice and experience in formulation that includes over a decade's worth of knowledge.
  </p>
  
  <p>
   Since studying together at Keele University, we have been friends for over 10 years and nucifera was born through our determination to provide people with the chance of having the best products and combination of ingredients to manage their healthcare.
  </p>
  
  <p class='bold'>
    We are a science-led company that researches, develops and manufactures innovative consumer healthcare products.
  </p>
  
  <p>
    It was company founded by pharmacists, who are dedicated to exploring simple innovations for medical challenges. We use modern scientific technology and formulation techniques to combine the purest form of ingredients to create products that tackle common medical conditions.
  </p>
  
  <p>
    We are dedicated to provide new natural solutions for people to lead healthy lifestyles and to provide you confidence on the benefits of our products. As healthcare professionals, we are committed in continuing to explore natural ingredients and combinations to tackle key medical challenges. Through consumer feedback, we want to demonstrate real-world efficacy and tolerability of the use of our products.
  </p>
  
  <p class='bold'>
    We proudly manufacture our products in the UK to the highest standards of Good Manufacturing Practice (GMP) and the International Organization for Standardization (ISO).
  </p>
</div>