<div class='container bg-white'>
  
  <h2 class='center'> About Us</h2>
  
  <p class='bold'>
    nucifera® has been making products from Organic Virgin Coconut Oil with an emphasis on natural quality.
  </p>
  
  <p>
    Our pure coconut oil products delight our customers and provide the organic skincare they want at an affordable price.
  </p>
  
  <p>
    Our goal is to consistently provide a top quality moisturiser alternative for the health-conscious consumer. Our winning formula, combined with modern branding and innovative packaging, will stand out on your store’s shelves. nucifera® is a privately owned independent company headquartered in London, UK.
  </p>
  
  <p>
    All of our products are manufactured to ensure product quality and consistency.
  </p>
  
  <p>
    If you are interested in setting up a wholesale account with us, please visit our <%= link_to 'contact us',contact_path %> page or send an e-mail to <%= link_to 'info@nucifera.co.uk', 'mailto:infonucifera.co.uk' %>.
  </p>

</div>