<div class='bg-white'>
  <h1>
    Reviews
  </h1>
  <% @reviews.each do |review| %>
  <div class='review-box row'>
    <div class='col-xs-4'>
      image
    </div>
    
    <div class='col-xs-8'>
      Content
    </div>
  </div>
  <% end %>
</div>
 
