<footer class="footer fixed-bottom">
    <div class='row'>
        
        <div class='col-sm-4 footer-list'>
            <%= link_to "Nucifera ©", root_path, class: "footer-brand text-muted" %>
        </div>
        
        <div class='col-sm-4 footer-list'>
            
        </div>
        
        <div class='col-sm-4 footer-list'>
            
        </div>   
    </div>
</footer>